#detail { /* 기본 설정 값*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.detail {
    display: flex;
}

.detail .detail__header {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-weight: 600;

}


.detail__header img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* 태두리 둥글게 */
    margin-left: 10px;
    margin-right: 10px;
    
}

.detail img {
    max-width: 600px;
    max-height: 450px;
    
}

.detail__header {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    justify-content: space-between;
    flex-shrink: 0;
}


.detail__info {
    width: 100%;
    padding: 18px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.detail__info .detail__actions { /* 하트 */
    font-size: 24px;
    display: flex;
    margin-bottom: 10px;
}

.detail__actions .detail__action { /* 말풍선 */
    margin-right: 15px;
    display: block;
    cursor: pointer;

}

.detail__info .detail__likes { /* 1,217 글씨 */
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.detail__comment .detail__comment-author {
    font-weight: 600;
}

.detail__comments .detail__comment {
    margin-bottom: 10px;
}

.detail__info .detail__date { /* 1 hour age */
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
}

.detail__info .detail__add-comment-container {
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .0975);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.detail__add-comment-container textarea {
  padding: 16px 0;
  border: 0;
  resize: none;
  width: 95%;
  height: 18px;
  font-size: 14px;
}

.detail__add-comment-container textarea:focus { /* 전체를 가운데로 */
    outline: none;
}

.detail__add-comment-container i {
    cursor: pointer;
}

.heart-clicked {
    color: red;
    animation: .5s pump infinite linear;
}


.detail__end {
    margin-bottom: 100px;
}