#detail {
    width: 90%;
    margin-left: auto; /* 모든 값의 왼쪽에 공간을 둠 */
    margin-right: auto;
    max-width: 1000px; /* 왼쪽에 공간을 더 많이 둠 */
    font-size: 16px;
}

#detail { /* 기본 설정 값*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    margin-bottom: 60px;
}

.detail .detail__header {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.detail__header img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* 태두리 둥글게 */
    margin-right: 10px;
}

.detail img {
    max-width: 100%;
}

.detail__info {
    padding: 18px;
    padding-bottom: 0;
    box-sizing: border-box;
}

.detail__info .detail__actions { /* 하트 */
    font-size: 24px;
    display: flex;
    margin-bottom: 10px;
}

.detail__actions .detail__action { /* 말풍선 */
    margin-right: 15px;
    display: block;
    cursor: pointer;

}

.detail__info .detail__likes { /* 1,217 글씨 */
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.detail__comment .detail__comment-author {
    font-weight: 600;
}

.detail__comments .detail__comment {
    margin-bottom: 10px;
}

.detail__info .detail__date { /* 1 hour age */
    text-transform: uppercase;
    font-size: 10px;
    color: #999;
}

.detail__info .detail__add-comment-container {
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .0975);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.detail__add-comment-container textarea {
  padding: 16px 0;
  border: 0;
  resize: none;
  width: 95%;
  height: 18px;
  font-size: 14px;
}

.detail__add-comment-container textarea:focus { /* 전체를 가운데로 */
    outline: none;
}

.detail__add-comment-container i {
    cursor: pointer;
}

.heart-clicked {
    color: red;
    animation: .5s pump infinite linear;
}